.room {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid whitesmoke;
    background-color: gray;
    border-radius: 1%;
    .room-title{
        font-size: 20px;
        color: whitesmoke;
        text-align: center;
        border-bottom: 2px whitesmoke solid;
    }
    .room-img {
        img{
            max-width: 150px;
            max-height: 150px;
        }
    }
    .room-players{
        font-size: 20px;
        color: whitesmoke;
        text-align: center;
        border-top: 2px whitesmoke solid;
    }
}