.window {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    .left-area {
        background-color: gray;
        flex-direction: column;
        display: block;
        justify-content: space-between;
        width: 20%;
        border: 1px snow solid;
    }
}